input, textarea, select
	display: block;
	background: white;
	border-radius: 10px;
	border: solid 1px #EEE;
	padding: 8px 16px;
	outline: none;
	margin-bottom: 10px;

input[type='radio'], input[type='checkbox']
	display: inline-block;
